#bingoCard {
    text-align: center;
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

#bingoCard td {
    width: 175px;
    height: 175px;
    margin: none;
}

#bingoCard th {
    width: 175px;
    height: 25px;
    margin: none;
}

#bingoCard th, #bingCard td {
    border: 1px solid grey;
    background: black;
    color: white;
}

#bingoCard td:hover {
    background: white;
    color: black;
}

.marked {
    background: DarkGreen;
    color: black;
}

